# dependencies
/node_modules
/.pnpm
/.yarn

# builds
/dist
/.next/
/out/
/build

# environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# credentials
jhulki_credentials.txt
rzp-key.csv
*.csv
